#campaigns {
	margin-top:73px;
}

.campaign-item {

	.campaign-info {
		height:150px;
		width: 100%
	}

	p {
		font-size: 12px;
		font-weight:500;
	}

	a {
		color:@maincolor;
	}

	.campaign-buttons a {
 		&:extend(.shadow);
 		background-color:#fff ;
 		&:extend(.img-circle);
 		width: 30px;
 		height: 30px;
 		margin-right: 5px;
 		text-align: center;
		padding-top: 2px;
		padding-left: 1px;
 		display: inline-block;

 		&.ion-ios-close-empty {
		color: red;
		}	
	}

	& > .thumbnail {
		-webkit-transition:0.4s linear all;
    	transition:0.4s linear all;
		border:0px solid #fff;
		&:extend(.shadow);
	}
}