.view
  .container
    .row  
      #create.col-sm-4( ng-if="!cc.editing" )
        h2 Add a Campaign
        form( method="post" ng-submit="cc.create()" name="createForm" )
          div(ng-include="'/partials/campaigns/form.html'")
          button.btn.btn-lg.btn-success.btn-block Save

      .col-sm-8
        #campaigns.row
          .repeat-animation.campaign-preview.col-sm-6.col-lg-4.col-md-4( ng-repeat="campaign in cc.campaigns | orderBy:'-createdAt' " )
            campaign-preview(campaign="campaign")

      #edit.col-sm-4( ng-if="cc.editing" )
        h2 Edit {{cc.oldcampaign.title}}
        form( method="post" ng-submit="cc.update(cc.newcampaign)" name="editForm" )
          div(ng-include="'/partials/campaigns/form.html'")
          .row
            .col-sm-4
              button.btn.btn-lg.btn-google-plus.btn-block(ng-click="cc.reset()") Cancel
            .col-sm-8
              button.btn.btn-lg.btn-success.btn-block Update