extends ./layout

block body
  nav-bar
  #view-cover
  div( ng-click="navCtrl.nav = false" ui-view id="view" ng-class="{ 'blur' : navCtrl.nav }" )

block styles
  link( href='https://fonts.googleapis.com/css?family=Raleway:100,300,800|Lato:300,400' rel='stylesheet' type='text/css' )
  //- link( href="/bower_components/ionicons/css/ionicons.min.css" rel="stylesheet" )
  //- link( href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" )
  //- link( href="/bower_components/animate.css/animate.min.css" rel="stylesheet" )
  link( href="/styles/style.css" rel="stylesheet" )

block scripts
  //- script(src="/bower_components/angular/angular.min.js")
  //- script(src="/bower_components/ng-lodash/build/ng-lodash.min.js")
  //- script(src="/bower_components/angular-animate/angular-animate.min.js")
  //- script(src="/bower_components/angular-messages/angular-messages.min.js")
  //- script(src="/bower_components/angular-resource/angular-resource.min.js")
  //- script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
  //- script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
  //- script(src="/bower_components/angular-strap/dist/angular-strap.min.js")
  //- script(src="/bower_components/angular-strap/dist/angular-strap.tpl.min.js")
  //- script(src="/bower_components/satellizer/satellizer.js")
  //- script(src="/bower_components/angular-loading-bar/build/loading-bar.min.js")    
  script(src="/js/app.js")