div
	.form-group
		input.form-control(type="text" ng-model="campCtrl.newpetition.title" ng-required="true" placeholder="Title")
	.form-group
		textarea.form-control(ng-model="campCtrl.newpetition.description" ng-required="true" placeholder="Description")
	.form-group
		select.form-control(ng-model="campCtrl.newpetition.type" ng-required="true")
			each val in ['signature', 'image', 'message', 'email']
				option(value="#{val}")= val