.view
  .container
    .row  
      #create.col-sm-4( ng-if="!pertCtrl.editing" )
        h2 Add a Petition
        form( method="post" ng-submit="pertCtrl.create()" name="createForm" )
          div(ng-include="'/partials/petitions/petitions/form.html'")
          button.btn.btn-lg.btn-success.btn-block Save

      .col-sm-8
        #petitions.row
          .repeat-animation.campaign-item.col-sm-6.col-lg-4.col-md-4( ng-repeat="petition in pertCtrl.petitions | orderBy:'-createdAt' " )
            .thumbnail
              //- img(  src="http://placehold.it/320x150" alt="" )
              a.ion-ios-paper-outline(href="" ng-click="pertCtrl.edit(petition)")
              .caption
                h2.dark {{petition.title}}
                //- p {{petition.description | limitTo:70 }}  
                a.ion-ios-close-outline(href="" ng-click="pertCtrl.destory(petition.id)")
                a.ion-ios-arrow-thin-up(href="" )

      #edit.col-sm-4( ng-if="pertCtrl.editing" )
        h2 Edit {{pertCtrl.oldpetition.title}}
        form( method="post" ng-submit="pertCtrl.update(pertCtrl.newpetition)" name="editForm" )
          div(ng-include="'/partials/petitions/form.html'")
          .row
            .col-sm-4
              button.btn.btn-lg.btn-google-plus.btn-block(ng-click="pertCtrl.reset()") Cancel
            .col-sm-8
              button.btn.btn-lg.btn-success.btn-block Save