#home
	//- a#search-btn.ion-ios-search(href="#/search")
	.content
		#intro-text
			h1#main-title Momentum
			p A new way to campaign online
			br
			
			email-subscribe

			#links
				a(href="https://github.com/paulstefanday/Momentum" data-title="Github repo" bs-tooltip).ion-social-github
				a(href="https://github.com/MomentumBuild" data-title="Angular frontend modules" bs-tooltip).ion-social-angular
				a(href="mailto:hi@paulday.com.au" data-title="Contact" bs-tooltip).ion-ios-email
				a(href="https://twitter.com/momentum_build" data-title="Twitter" bs-tooltip).ion-social-twitter
