#search
	a.view-close.ion-ios7-close-outline(ng-click="vm.back()")
	.container
		#search-field.row.padd-lg
			.col-sm-10
				input.noshadow(type="text" placeholder="Search all activity here...")
			.col-sm-2
				button.ion-ios7-search

		.row
			.col-sm-4
				h4 Organisations

			.col-sm-4
				h4 Campaigns

			.col-sm-4
				h4 Events