#about.container
	h2 About
	#main-points.row
		.col-sm-4
			.icon.ion-ios-heart-outline
			h4 Single admin panel
			p Lets you manage your users, send custom emails, track donations and see which websites/apps are performing the best.
		.col-sm-4
			.icon.ion-ios-infinite-outline
			h4 Unlimited sites & mobile app's
			p You can create as many different websites and mobile apps with our simple templates and everything is completely customisable.
		.col-sm-4
			.icon.ion-ios-unlocked-outline
			h4 No vendor lockin
			p 
				| We have seperated the frontend( user interface ) and backend( server / data ) so if you don't like us anymore 
				| you can still use all your websites with another provider. Also everything will export to other providors 
				| such as Nationbuilder daily or manually.
	
	h2 Overview
	p 
		| Momentum is an open source CRM (customer relationship manager) that is focused on 
		| engaging specific user groups with meaningful and creative online actions and in turn 
		| discovering who is really dedicated to your cause. The second most important priority is 
		| re-engagement with those users and testing what works and what doesn't through rapid interation. 
	p 
		| This tool is designed to make it quick for developers to create online campaign tools. 
		| This means it is cost effective to create mutiple campaigns with various actions targeted to a variety of demographics. 
		| Single campaigns with a vague message and a broard audience are not effective but this is usually the most cost effective option. 
		| This software makes it possible to enagage a range of different audiences with highly relevant online content. 
	p 
		| Even though you can create 10 different campaigns, it is all managed by a single admin panel.
		| This means your online campaigns can be as complex and diverse as you like without making it complicated to track 
		| and engage with the progress of various campaigns and re-engage the audiences who interact with the camapign.