#nav
  #nav-toggle(ng-click="navCtrl.toggleNav()" ng-class="{ 'ion-ios7-close-outline': navCtrl.nav, 'ion-navicon' : !navCtrl.nav}")
  #nav-menu(ng-show="navCtrl.nav")
    ul
      li 
        a(href="" ng-click="navCtrl.goTo('home')") Home 
      li
        a(href="" ng-click="navCtrl.goTo('about')") About
      li
        a(href="" ng-click="navCtrl.goTo('search')") Search
    
    ul( ng-if="navCtrl.isAuthenticated()" )
      li
        a(href="" ng-click="navCtrl.goTo('profile')") Profile
      //- li
      //-   a(href="" ng-click="navCtrl.goTo('admin')") Admin
      li
        a(href="" ng-click="navCtrl.goTo('campaigns')") Campaigns
      li
        a(href="" ng-click="navCtrl.logout()") Logout
    
    ul( ng-if="!navCtrl.isAuthenticated()" )
      li
        a(href="" ng-click="navCtrl.goTo('login')") Login
      li
        a(href="" ng-click="navCtrl.goTo('signup')") Signup