#nav
  a#nav-toggle(ng-click="nav = !nav" ng-class="{ 'ion-ios-close-outline': nav, 'ion-navicon' : !nav}")
  #nav-menu(ng-show="nav")
    ul
      li 
        a( href="#/home" ) Home 
      li
        a( href="#/about" ) About
    ul( ng-show="!hasAuth()" )
      li
        a( href="#/login") Login
      li
        a( href="#/signup") Signup
    ul( ng-show="hasAuth()" )
      li
        a( href="#/admin/campaigns/create" ) Campaigns
      li
        a( href="#/admin/profile" ) Profile
      li
        a( href="" ng-click="logout()") Logout
