.view
  .container
    .row  
      #create.col-sm-4( ng-if="!actCtrl.editing" )
        h2 Add an action
        form( method="post" ng-submit="actCtrl.create()" name="createForm" )
          div(ng-include="'/partials/actions/actions/form.html'")
          button.btn.btn-lg.btn-success.btn-block Save

      .col-sm-8
        #campaigns.row
          .repeat-animation.campaign-item.col-sm-6.col-lg-4.col-md-4( ng-repeat="action in actCtrl.actions | orderBy:'-createdAt' " )
            a.thumbnail(href="" ng-click="actCtrl.edit(action)")
              img(  src="http://placehold.it/320x150" alt="" )
            .campaign-info
              h4(href="" ng-click="actCtrl.edit(action)") {{action.title}}
              p {{action.type }}  
              .campaign-buttons
                a.ion-ios-gear(href="" ng-click="actCtrl.edit(action)" data-title="Edit" bs-tooltip)
                a.ion-ios-flask(href="#" data-title="Actions" bs-tooltip)
                a.ion-ios-person(href="#" data-title="Users" bs-tooltip)
                a.ion-ios-close-empty(href="" ng-click="actCtrl.destory(action.id)" data-title="Delete" bs-tooltip)

      #edit.col-sm-4( ng-if="actCtrl.editing" )
        h2 Edit {{actCtrl.oldaction.title}}
        form( method="post" ng-submit="actCtrl.update(actCtrl.newaction)" name="editForm" )
          div(ng-include="'/partials/actions/form.html'")
          .row
            .col-sm-4
              button.btn.btn-lg.btn-google-plus.btn-block(ng-click="actCtrl.reset()") Cancel
            .col-sm-8
              button.btn.btn-lg.btn-success.btn-block Save