.action-preview {

	.make-md-column(6);
	.make-lg-column(4);

	.info {
		height:170px;
		width: 100%;
		text-align: center;
	}

	p {
		font-size: 12px;
		font-weight:500;
	}

	a {
		color:@maincolor;
	}

	.buttons {
		text-align: center;
		margin-top: -37px;


		a {
	 		&:extend(.shadow);
	 		background-color: #2CB2EC;
	 		border: 1px solid #fff;
			color: #fff;
	 		&:extend(.img-circle);
	 		width: 30px;
	 		height: 30px;
	 		margin-right: 5px;
	 		text-align: center;
			padding-top: 2px;
			padding-left: 1px;
	 		display: inline-block;
	 		&.ion-ios-close-empty {
	 			background-color:rgb(244, 93, 93);
	 		}
		}
	}

	input {
		margin-top: 15px;
	}
	
	& .thumbnail {
		-webkit-transition:0.4s linear all;
    	transition:0.4s linear all;
		border:0px solid #fff;
		&:extend(.shadow);
		text-align: center;
		padding: 30px 0 35px;
		color:@maincolor;
		font-size: 12px;

		&:hover {
			text-decoration: none
		}

		& span {
			font-size: 30px;
			font-weight: 100;
		}
	}

}