.thumbnail <span>{{ item.submissions.length ? item.submissions.length : 0 }}</span><br/> Submissions
.buttons
	a.ion-ios-gear(href="#/admin/actions/{{item.campaign}}/edit/{{item.id}}" data-title="Edit" bs-tooltip)
	a.ion-log-out( ng-click="toggleScript()" data-title="View terminal start script" bs-tooltip)
	a.ion-ios-close-empty(href="" ng-click="destroy()" data-title="Delete" bs-tooltip)
.info
	h4 {{item.title}}
	p {{item.type }}  
	input.form-control(type="text" ng-value="getScript()" ng-show="showScript" onClick="this.select();")