.thumbnail <span>{{ action.submissions.length }}</span><br/> Submissions
.action-info
	h4 {{action.title}}
	p {{action.type }}  
	.action-buttons
		a.ion-ios-gear(href="" ng-click="edit(action)" data-title="Edit" bs-tooltip)
		a.ion-ios-flask(href="#" data-title="View" bs-tooltip)
		a.ion-ios-close-empty(href="" ng-click="destroy(action.id)" data-title="Delete" bs-tooltip)
		a.ion-log-out( ng-click="toggleScript()" data-title="View terminal start script" bs-tooltip)
	input.form-control(type="text" ng-value="getScript(action)" ng-show="showScript" onClick="this.select();")