* {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

      -webkit-transition:0.8s ease-out all;
    transition:0.8s ease-out all;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.shadow {
      -moz-box-shadow:    0px 2px 0px 0px rgba(0,0,0,0.2) !important;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.2) !important;
  box-shadow:         0px 2px 0px 0px rgba(0,0,0,0.2) !important;
}

.noshadow {
      -moz-box-shadow:    0px 0px 0px 0px rgba(0,0,0,0.2) !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2) !important;
  box-shadow:         0px 0px 0px 0px rgba(0,0,0,0.2) !important;
}

html, body {
    background: $secondcolor;
      color: #383a3c;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
} 


#view-cover {
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  background: -webkit-linear-gradient(120deg, darken( $secondcolor, 20%) 10%, $secondcolor 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(120deg, darken( $secondcolor, 20%) 10%, $secondcolor 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(120deg, darken( $secondcolor, 20%) 10%, $secondcolor 90%); /* IE10 */
  background:      -o-linear-gradient(120deg, darken( $secondcolor, 20%) 10%, $secondcolor 90%); /* Opera 11.10+ */
  background:         linear-gradient(120deg, darken( $secondcolor, 20%) 10%, $secondcolor 90%); /* W3C */
}

.alert-material {
  // position: fixed;
  text-align:center;
  margin:20px auto;
  max-width: 500px;
  width: 100%;
  // top: 12px;
  z-index: 10000000;
  // display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-size: 15px !important;
  background-color: rgba(0,0,0,0.2);
  color:#fff !important;
  border-radius: 4px;
  // outline: none;
}


